<?xml version="1.0" encoding="UTF-8"?>
<web-app id="fdvsign" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>DynamicJasper WebWork Test</display-name>

<!-- 
	<filter>
		<filter-name>webwork-cleanup</filter-name>
		<filter-class>
			com.opensymphony.webwork.dispatcher.ActionContextCleanUp
		</filter-class>
	</filter>

	<filter>
		<filter-name>webwork</filter-name>
		<filter-class>
			com.opensymphony.webwork.dispatcher.FilterDispatcher
		</filter-class>
	</filter>
	
 -->
	<servlet>
		<servlet-name>webwork</servlet-name>
		<servlet-class>com.opensymphony.webwork.dispatcher.ServletDispatcher</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>webwork</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	

<!-- 
	<filter-mapping>
		<filter-name>webwork-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->

<!-- 
	<filter-mapping>
		<filter-name>webwork</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 -->

	

	
</web-app>